{% extends 'registration/base.html' %}

{% block title %}
  داشبورد
{% endblock %}

{% block main %}
  <a style="width: 200px;
                  padding: 10px;
                  padding-top: 10px;
                  padding-right: 10px;
                  padding-bottom: 10px;
                  padding-left: 10px;
                  margin-left: 20px;
                  padding-right: 72px;" type="button" class="btn btn-primary" href="{% url 'account:articles' %}">مقالات</a>
  <a style="width: 200px;
  padding: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-left: 20px;
  padding-right: 73px;" type="button" class="btn btn-dark" href="{% url 'account:users' %}">کاربران</a>
  <a style="width: 200px;
  padding: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-left: 20px;
  padding-right: 76px;" type="button" class="btn btn-success" href="{% url 'account:comments' %}">نظرات</a>
  <a style="width: 200px;
  padding: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-left: 20px;
  padding-right: 78px;" type="button" class="btn btn-info" href="{% url 'account:profile' %}">پروفایل</a>
{% endblock %}