{% extends 'registration/base.html' %}

{% block btitle %}
   | عملیات تغییر گذرواژه
{% endblock %}

{% block title %}
    عملیات تغییر گذرواژه
{% endblock %}

{% block main %}
<div class="col-md-8 text-center mx-auto">
    <div class="card card-danger">
      <div class="card-header">
        {% if user.is_superuser %}
            <h3 class="card-title mb-0 float-left">عملیات تغییر گذرواژه</h3>
        {% else %}
            <h3 class="card-title mb-0 float-left">عملیات تغییر گذرواژه</h3>
        {% endif %}
    </div>
    <div class="card-body py-4">
        <form method="post">
            <p class="py-4">
                عملیات تغییر گذرواژه موفقیت آمیز بود
            </p>
            <span>
                برای بازگشت به پنل کاربری <a href="{% url 'account:profile' %}">کلیک</a> کنید
            </span>
        </form>
    </div>
</div>
{% endblock %}