{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block btitle %}
   | تغییر گذرواژه 
{% endblock %}
{% block title %}
    تغییر گذرواژه
{% endblock %}


{% block main %}
<div class="col-md-12">
    <div class="card card-primary">
      <div class="card-header">
        {% if user.is_superuser %}
            <h3 class="card-title mb-0 float-left">تغییر گذرواژه</h3>
        {% else %}
            <h3 class="card-title mb-0 float-left">تغییر گذرواژه</h3>
        {% endif %}
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                  {{ form.old_password|as_crispy_field }}
                </div>
                <div class="col-md-6">
                </div>
                <div class="form-group col-md-6 mb-0">
                  {{ form.new_password1|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.new_password2|as_crispy_field }}
                </div>
            </div>
            <button class="btn btn-primary">تغییر گذرواژه</button>
        </form>
    </div>
</div>
{% endblock %}