{% load static %}
{% load gravatar %}
<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static 'registration/adminlte/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text" style="direction: rtl; text-align: center;">وبلاگ جنگویی</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="https://www.cortrucent.com/hs-fs/hubfs/images/images-for-website/male-gravatar-compressor.png?width=574&name=male-gravatar-compressor.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'blog:author' user.username %}" class="d-block">
            {% if user.get_full_name %}
              {{user.get_full_name}}
            {% else %}
              {{user.username}}
            {% endif %}
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          {% if user.is_superuser or user.is_author %}
            <li class="nav-item has-treeview menu-open">
              <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  مقالات
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'account:home' %}" class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                    <i class="fa fa-list nav-icon"></i>
                    <p>لیست مقالات</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'account:create-article' %}" class="nav-link {% if request.resolver_match.url_name == 'create-article' %}active{% endif %}">
                    <i class="fa fa-edit nav-icon"></i>
                    <p>افزودن مقاله</p>
                  </a>
                </li>
              </ul>
            </li>
          {% endif %}
          <li class="nav-item">
            <a href="{% url 'account:profile' %}" class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p class="prof">
                پروفایل
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>