{% extends 'registration/base.html' %}
{% load base_tags %}


{% block title %}
    آمار ها
{% endblock %}

{% block main %}
    {% all_views_today %}
    {% all_views_month %}
    {% all_views_year %}
    {% all_views_all_time %}
    {% all_like_today %}
    {% all_like_month %}
    {% all_like_year %}
    {% all_like_all_time %}
    {% all_dislike_today %}
    {% all_dislike_month %}
    {% all_dislike_year %}
    {% all_dislike_all_time %}
    {% all_comment_today %}
    {% all_comment_month %}
    {% all_comment_year %}
    {% all_comment_all_time %}
{% endblock %}