{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
   | {{article.title}}
{% endblock %}

{% block main %}
        <header class="masthead" style="background-image: url('{{ article.thumbnail.url }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1 style="font-size: 40px;">
                                {{article.title}}
                            </h1>
                                {% if article.is_special %}
                                    <span class="badge badge-danger" style="font-size: 14px; background-color: red;">ویژه</span>
                                {% endif %}
                            <time>{{article.jpublish}}</time>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 text-jusify" style="width: 800px;">
                        <article style="width: 800px;">
                            {% if article.is_special %}
                                {% if user.is_authenticated and user.is_special_user or user.is_superuser or user == article.author %}
                                    {{ article.description|safe }}
                                {% else %}
                                    {{ article.description|striptags|truncatewords:30 }}
                                    <p class="alert alert-secondary" style="background-color: #7b0404 !important;">این مقاله ویژه است و برای دیدنش باید <a class="alert-link" href="#">اشتراک ویژه</a> تهیه کنید</p>    
                                {% endif %}
                            {% else %}
                                {{ article.description|safe }}
                            {% endif %}
                        </article>
                    </div>
                </div>
            </div>
        </article>
{% endblock %}